frontend/package-lock.json
frontend/P7-Dev-Web-livres-main/.eslintrc.json
frontend/P7-Dev-Web-livres-main/.gitignore
frontend/P7-Dev-Web-livres-main/babel-plugin-macros.config.js
frontend/P7-Dev-Web-livres-main/Dockerfile
frontend/P7-Dev-Web-livres-main/package-lock.json
frontend/P7-Dev-Web-livres-main/package.json
frontend/P7-Dev-Web-livres-main/README.md
frontend/P7-Dev-Web-livres-main/public/favicon.ico
frontend/P7-Dev-Web-livres-main/public/index.html
frontend/P7-Dev-Web-livres-main/public/logo192.png
frontend/P7-Dev-Web-livres-main/public/logo512.png
frontend/P7-Dev-Web-livres-main/public/manifest.json
frontend/P7-Dev-Web-livres-main/public/robots.txt
frontend/P7-Dev-Web-livres-main/public/data/data.json
frontend/P7-Dev-Web-livres-main/src/App.css
frontend/P7-Dev-Web-livres-main/src/App.jsx
frontend/P7-Dev-Web-livres-main/src/App.test.js
frontend/P7-Dev-Web-livres-main/src/index.css
frontend/P7-Dev-Web-livres-main/src/index.js
frontend/P7-Dev-Web-livres-main/src/logo.svg
frontend/P7-Dev-Web-livres-main/src/reportWebVitals.js
frontend/P7-Dev-Web-livres-main/src/setupTests.js
frontend/P7-Dev-Web-livres-main/src/components/BackArrow/BackArrow.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BestRatedBooks/BestRatedBooks.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BestRatedBooks/BestRatedBooks.module.css
frontend/P7-Dev-Web-livres-main/src/components/Books/BookForm/BookForm.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BookForm/BookForm.module.css
frontend/P7-Dev-Web-livres-main/src/components/Books/BookInfo/BookInfo.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BookItem/BookItem.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BookItem/BookItem.module.css
frontend/P7-Dev-Web-livres-main/src/components/Books/BookRatingForm/BookRatingForm.jsx
frontend/P7-Dev-Web-livres-main/src/components/Books/BookRatingForm/BookRatingForm.module.css
frontend/P7-Dev-Web-livres-main/src/components/Footer/Footer.jsx
frontend/P7-Dev-Web-livres-main/src/components/Footer/Footer.module.css
frontend/P7-Dev-Web-livres-main/src/components/Header/Header.jsx
frontend/P7-Dev-Web-livres-main/src/components/Header/Header.module.css
frontend/P7-Dev-Web-livres-main/src/components/ScrollToTop/ScrollToTop.jsx
frontend/P7-Dev-Web-livres-main/src/images/add_file.png
frontend/P7-Dev-Web-livres-main/src/images/book_add.jpg
frontend/P7-Dev-Web-livres-main/src/images/book_delete.png
frontend/P7-Dev-Web-livres-main/src/images/home_banner.jpg
frontend/P7-Dev-Web-livres-main/src/images/Logo.png
frontend/P7-Dev-Web-livres-main/src/images/Logo.svg
frontend/P7-Dev-Web-livres-main/src/images/map_footer.png
frontend/P7-Dev-Web-livres-main/src/lib/common.js
frontend/P7-Dev-Web-livres-main/src/lib/customHooks.js
frontend/P7-Dev-Web-livres-main/src/lib/functions.jsx
frontend/P7-Dev-Web-livres-main/src/pages/AddBook/AddBook.jsx
frontend/P7-Dev-Web-livres-main/src/pages/AddBook/AddBook.module.css
frontend/P7-Dev-Web-livres-main/src/pages/Book/Book.jsx
frontend/P7-Dev-Web-livres-main/src/pages/Book/Book.module.css
frontend/P7-Dev-Web-livres-main/src/pages/Home/Home.jsx
frontend/P7-Dev-Web-livres-main/src/pages/Home/Home.module.css
frontend/P7-Dev-Web-livres-main/src/pages/SignIn/SignIn.jsx
frontend/P7-Dev-Web-livres-main/src/pages/SignIn/SignIn.module.css
frontend/P7-Dev-Web-livres-main/src/pages/updateBook/UpdateBook.jsx
frontend/P7-Dev-Web-livres-main/src/pages/updateBook/UpdateBook.module.css
frontend/P7-Dev-Web-livres-main/src/utils/constants.js
backend/images/*
